html,
body {
  background-color: #b7edff;
  color: #333333;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 20rem;
  position: relative;

  z-index: -21;
}

main {
  height: max-content;
  padding: 0rem 2rem 2rem 2rem;
  margin
  background-color: red;
  /* margin-top: 12rem; */
}

.page-content-container {
  margin-inline: 6rem;
  min-height: 30rem;
}

.button-reset {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: inherit;
  outline: none;

  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 30rem;
}

.image-rounded-standard {
  border-radius: 10rem;

}