h1 {
  font-weight: 1000;
  font-size: 30pt;
}

h2 {
  font-weight: 1000;
  font-size: 20pt;
}

h3 {
  font-weight: 1000;
  font-size: 12pt;
}

h4 {
  font-weight: 400;
  font-size: 10pt;
  padding-block: 0.7rem;
  margin-block: 0;
}

p {
  font-size: 12pt;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font: inherit;

  -webkit-tap-highlight-color: transparent;
}
