h1 {
  font-weight: 1000;
  font-size: 45pt;
  letter-spacing: -0.05em;
  word-spacing: 0.1em;

  line-height: 1em;

  margin: 0;
  padding: 0;

  margin-bottom: var(--space-small);
}

h2 {
  font-weight: 1000;
  font-size: 20pt;
}

h3 {
  font-weight: 1000;
  font-size: 12pt;
}

h4 {
  font-weight: 400;
  font-size: 10pt;
  padding-block: 0.7rem;
  margin-block: 0;
}

p {
  font-size: 12pt;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

.regular-paragraph {
  margin-bottom: var(--space-medium);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font: inherit;

  -webkit-tap-highlight-color: transparent;
}
